@model NetMind.Areas.Site.Models.Issue

@{
    ViewData["Title"] = "Details";
}

<div class="card shadow-lg p-3 mb-5 bg-white rounded">
    <div class="card-header row">
        <div class="col-4">
            Issue
        </div>
        <div class="text-right col-8">
            <a class="text-decoration-none" asp-action="Edit" asp-route-id="@Model.IssueID"><i class="bi bi-pencil"></i> Edit</a> |
            <a class="text-decoration-none" asp-action="Delete" asp-route-id="@Model.IssueID"><i class="bi bi-trash"></i> Delete</a>
        </div>
    </div>
    <div class="card-body">
        <dl class="row">
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Creator)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Creator.UserName)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.CreatedOn)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.CreatedOn)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Assignee)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Assignee.UserName)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.UpdatedOn)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.UpdatedOn)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Title)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Title)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Description)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Description)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Status)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Status.Name)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Tracker)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Tracker.Name)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Priority)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Priority.Name)
            </dd>
        </dl>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>
