@model IEnumerable<NetMind.Areas.Site.Models.Issue>

@{
    ViewData["Title"] = "Issues";
}

<h1>Issues</h1>

<div class="card shadow-lg p-3 mb-5 bg-white rounded">
    <div class="card-header justify-content-center">
        Issues
    </div>
    <div class="card-body">

        <table class="table">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.IssueID)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.TrackerID)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.StatusID)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.PriorityID)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Title)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.AssigneeID)
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.IssueID)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Tracker.Name)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Status.Name)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Priority.Name)
                        </td>
                        <td>
                            <a class="text-decoration-none"  asp-action="Details" asp-route-id="@item.IssueID">@Html.DisplayFor(modelItem => item.Title)</a>
                        </td>
                        <td>
                            @if (item.Assignee is not null)
                            {
                                @Html.DisplayFor(modelItem => item.Assignee.UserName)
                            }
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>

